body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#000814;
    text-align:center;
    color:#00bfff;
}

h1{
    margin-top:20px;
    font-size:40px;
    text-shadow:0 0 15px #00bfff;
}

h2{
    margin-bottom:30px;
    text-shadow:0 0 10px #00bfff;
}

.box{
    width:90%;
    max-width:420px;
    margin:20px auto;
    padding:20px;
    border:2px solid #00bfff;
    border-radius:12px;
    box-shadow:0 0 15px #00bfff;
}

.price{
    font-size:22px;
    margin:10px 0;
}

button{
    padding:12px 30px;
    font-size:18px;
    background:transparent;
    color:#00bfff;
    border:2px solid #00bfff;
    border-radius:25px;
    cursor:pointer;
}

button:hover{
    background:#00bfff;
    color:#000;
}
